/* TODO - anotar formas alternativas de aplicar mudanças de tamanho de acordo com a quebra */
*{
    --primary-color: #777777;
    --title-color: black;
    font-family: 'Open Sans', sans-serif;
}
.page-header{
    padding: 0.6rem 0;
    box-shadow: 0px 1px 3px rgb(0 0 0 / 20%);
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.page-header nav{
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    align-items: center;
}

.page-header nav a{
    margin: 0 0.5rem;
}

/* TODO remover margem extra do último item */
.page-header nav .brand{
    align-self: flex-start;
    margin-right: auto;
}

.page-header nav .has_child{
    position: relative;
    cursor: pointer;
}

.page-header nav .has_child .child_nav{
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    position: absolute;
    top: 2rem;
    left: -1rem;
    padding: 0.5rem 1rem;
    background-color: rgba(255,255,255,0.7);
    max-height: 0;
    overflow: hidden;
    transition: all .5s ease-in;
    z-index: 100;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.page-header nav .has_child:hover .child_nav, .page-header nav .has_child:focus .child_nav{
    max-height: 1000px;
    height: fit-content;
}

.page-header nav .has_child .child_nav a{
    margin: 0;
    padding: 0.5rem 0;
}

.brand svg{
    display: block;
    height: fit-content;
    aspect-ratio: 2/1;
}

.page-header nav .brand svg{
    width: 138px;
}

/* TODO transformar essa parte em animação de troca de cor */
.page-header nav .brand svg { fill: black; }

#article-area{
    display: grid;
    grid-template-columns: calc(100% / 3) calc(100% / 3) calc(100% / 3);
    padding: 3rem 0rem;
}

#article-area a{
    text-decoration: none;
}

#article-area article{
    overflow: hidden;
    padding: 1.3rem 1rem;
    color: var(--primary-color);
    transition: all 0.5s ease-out;
}

#article-area article figure{
    position: relative;
    overflow: hidden;
}

#article-area article img{
    display: block;
    max-width: 100%;
    margin-bottom: 0.2rem;
    border-radius: 1rem;
    transition: all 0.2s ease-in-out;
    filter: grayscale();
}

#article-area article h3{
    position: absolute;
    left:0;
    top: 1.5rem;
    padding: 0.3rem 0.5rem;
    transition: all .3s ease-out;
    transform: translateX(-100%);
}

#article-area article h3.design{
    background-color: green;
    color: white;
}
#article-area article h3.audiovisual{
    background-color: blueviolet;
    color: white;
}
#article-area article h3.marketing{
    background-color: goldenrod;
    color: black;
}
#article-area article h3.programacao_data{
    background-color: darkblue;
    color: white;
}
#article-area article h3.games{
    background-color: cyan;
    color: black;
}

#article-area article span{
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-style: italic;
    padding: 0.5rem 0;
}

#article-area article header{
    font-weight: bold;
    padding-bottom: 0.7rem;
    letter-spacing: 2px;
    line-height: 1.4rem;
}

#article-area article .readmore{
    display: none;
}

#article-area article header:first-letter{
    text-transform: uppercase;
}

/* It's Magic!!!! */
#article-area a:hover article h3{
    transform: translateX(0);
}

#article-area a:hover article{
    -webkit-box-shadow: 2px 8px 13px 2px #000000; 
    box-shadow: 2px 8px 13px 2px #000000;
    transform: translateY(-1.5rem);
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    z-index: 50;
    background-color: white;
}

#article-area a:hover article figure img{
    filter: none;    
}

#article-area a:hover article .readmore{
    display: block;
    line-height: 1.5rem;
}

footer{
    background-color: black;
    color: white;
    padding: 3rem 0;
}

footer .footer-box{
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    padding: 1rem 0;
}

footer .footer-box section:first-child{
    justify-self: flex-start;
    margin-right: auto;
}

footer .footer-box .nav-container{
    display: flex;
    flex-flow: row;
}

footer .footer-box .nav-container nav{
    display: flex;
    flex-flow: column;
    padding: 0 1.2rem;
    max-width: 100px;
}

footer .footer-box .nav-container nav header{
    font-weight: bold;
    margin-bottom: 1.5rem;
}

footer a{
    color: white;
    text-decoration: none;
    margin: 0.3rem 0;
}

footer .brand svg { 
    fill: white;
    width: 240px;
}

footer .contacts{
    display: flex;
    flex-flow: row;
    border-top: 1px solid white;
    padding: 0.3rem 0;
}

footer .contacts a{
    margin: 1rem 0.5rem;
}

footer .social{
    align-self: flex-end;
    margin-left: auto;
}