$primary-color: #777777;
$title-color: #000000;
$login-color: #d26132;

//Fonts
$primary-font: 'Open Sans', sans-serif;

//ArticleTags
$tag-design-bg :rgb(55, 221, 179);
$tag-design-color :#ffffff;
$tag-audiovisual-bg :black;
$tag-audiovisual-color :#ffffff;
$tag-marketing-bg :black;
$tag-marketing-color :#ffffff;
$tag-programacao_data-bg :black;
$tag-programacao_data-color :#ffffff;
$tag-games-bg :black;
$tag-games-color :#ffffff;